@import "./_variables"
@import "./_icons"
@import "./_fonts"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"

header
    height: 100vh
    background: linear-gradient(rgba(34, 34, 46, 0.7),rgba(34, 34, 46, 0.7)), url("../../public/images/banner1.jpg")
    background-size: 100% 100%
    
    